

.primary-page-navigator {
    gap: 16px;
    width: 100%; height: 100%;
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
}

.primary-page-navigator > section {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-end;
}


.primary-page-navigator > section:nth-child(1){
    flex: 1;
}
.primary-page-navigator > section:nth-child(2){
    
}
   

.primary-page-navigator > section:nth-child(1) ul {
    display: flex; flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    gap: 6px;
}

.nav-list-link{
    display: inline;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 8px;
    transition: all .05s ease-in;
    position: relative; 
    white-space: nowrap;
}

.nav-list-link::after{
    content: "";
    position: absolute;
    top: calc(100% + 4px); right: 0;
    left: 0; bottom: 0;
    margin: auto;
    width: calc(100% - 10px);
    height: 2px;
    background-color: rgba(255, 0, 0, 0);
    transition: all .15s ease-in-out;
}

.nav-list-link.active::after {
    background-color: white;
} 

.nav-list-link:hover::after{
   background-color: rgba(255, 255, 255, 0.637);
}

@media screen and (min-width: 961px) {
    .nav-list-icon{
        display: none;
    }
}

@media only screen and (max-width: 960px){


    .primary-page-navigator, .primary-page-navigator > section, .primary-page-navigator > section:nth-child(1) ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%; 
        gap: 4px;
    }

    .primary-page-navigator{
        padding: 12px;
    }

    .nav-list-link{
       width: 100%; height: 52px;
       background-color: rgba(151, 57, 57, 0.1);
       border-radius: 14px;
       text-align: left;
       font-size: 18px;
       padding: 0 32px;
       line-height: 52px;
       display: flex; flex-direction: row; align-items: center;
       gap: 10px;
       
    }

    .nav-list-link::after{
        content: none; 
    }

} 